{% extends 'base.html' %}

{% block title %}
画面設計書作成アプリ
{% endblock %}

{% block page_title %}
画面設計書作成アプリ
{% endblock %}

{% block contents %}
<form method="post" enctype="multipart/form-data" hx-post="/" hx-target="#specification" hx-swap="innerHTML"
    class="container mt-4">

    <div class="mb-3">
        <label for="fileInput" class="form-label">画像をアップロード</label>
        <input type="file" id="fileInput" name="file" accept="image/*" required onchange="previewFile(this);"
            class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">アップロード</button>
    <p class="mt-3">プレビュー</p>
    <div id="image-preview" hx-get="/preview" hx-target="#image-preview" hx-swap="innerHTML" class="mb-3"></div>
    <div id="specification">
        {% if specification %}
        <h2>スクリーンデザインドキュメント</h2>
        <pre>{{ specification }}</pre>
        {% endif %}
    </div>
    <script>
        function previewFile(img) {
            const fileData = new FileReader();
            fileData.onload = (function () {
                document.getElementById('image-preview').innerHTML = '<img src="' + fileData.result + '" alt="Preview" class="img-fluid">';
            });
            fileData.readAsDataURL(img.files[0])
        }
    </script>
    {% endblock %}
